    <h1>Autos</h1>
    <h3>@Model.CurrentCategory</h3>
<div class-"row mt-5 mb-2">
    @{
        foreach (var Car in Model.GetAllCars)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@Car.Image" alt="@Car.Name"/>
                <h2>Model: @Car.Name</h2>
                <p>@Car.ShortDescription</p>
                <p><a class="btn btn-warning" href="#">Details</a></p>
            </div>
        }
    }
</div>

